<section class="section">
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pregled</h5>

                    <!-- General Form Elements -->
                    <form action="/submit-examination-form" method="post">
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">Ime:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="firstname" required title="Ovo polje je obavezno!">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">Prezime:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="lastname" required title="Ovo polje je obavezno!">
                            </div>
                        </div>


                        <div class="row mb-3">
                            <label for="inputEmail" class="col-sm-2 col-form-label">Doktor:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="doctor" required title="Ovo polje je obavezno!">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputNumber" class="col-sm-2 col-form-label">Broj telefona:</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputNumber" class="col-sm-2 col-form-label">Nalaz:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="file" id="formFile">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputDate" class="col-sm-2 col-form-label">Datum:</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" name="date" required title="Ovo polje je obavezno!">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputTime" class="col-sm-2 col-form-label">Vrijeme:</label>
                            <div class="col-sm-10">
                                <input type="time" class="form-control" name="date" required title="Ovo polje je obavezno!">
                            </div>
                        </div>


                        <div class="row mb-3">
                            <label for="inputPassword" class="col-sm-2 col-form-label label-auto-resize" title="DIJAGNOZA">Dijagnoza:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" style="height: 100px" name="diagnosis" required title="Ovo polje je obavezno!"></textarea>
                            </div>
                        </div>

                        <fieldset class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">Pregled:</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        Zavrsen
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        Nije zavrsen
                                    </label>
                                </div>
                            </div>
                        </fieldset>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Stanje:</label>
                            <div class="col-sm-10">
                                <select class="form-select" aria-label="Default select example" name="city" required title="Ovo polje je obavezno!">
                                    <option selected>Nije bolestan</option>
                                    <option value="1">Bolestan</option>
                                    <option value="1">Umro</option>
                                </select>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Potvrdi</button>
                            </div>
                        </div>

                    </form><!-- End General Form Elements -->

                </div>
            </div>

        </div>
    </div>
</section>
